@using FurryFriendFinder.Models.Data;
@model User
@inject FurryFriendFinderDbContext _context
@{
    Layout = "_LayoutClient";
    ViewData["Title"] = "Details";
    var Phones = _context.Phones.Where(x => x.IdUser == Model.IdUser).ToList();
    var Address = _context.Addresses.Where(x => x.IdUser == Model.IdUser).ToList();
    var Access = _context.Accesses.Where(x => x.IdUser == Model.IdUser).ToList();
    var Adoptions = _context.Adoptions.Where(x => x.IdUser == Model.IdUser).ToList();
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
</div>
<div>
    <a asp-action="ClientEdit" asp-route-id="@Model.IdUser">Edit Account</a>|
    <a asp-action="ClientDelete" asp-route-id="@Model.IdUser">Delete Account</a>

</div>
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.IdRhNavigation.RhType)
    <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdRhNavigation.RhType)
    </dd>
    <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BirthDate)
    <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BirthDate)
    </dd>

            @if (Phones.Count > 0)
            {
        <dt class="col-sm-11 m-1 text-info">
            <span>Phones</span>
        </dt>
            }
            @{
                int p = 0;
            }
            @foreach (var phon in Phones)
            {
                p++;
        <dt class="col-sm-3">
            <span>Phone @(p)</span>
        </dt>
        <dd class="col-sm-9">
                    @(phon.Phone1)
        </dd>
            }
            @if (Address.Count > 0)
            {
        <dt class="col-sm-11  m-1 text-info">
            <span>Address</span>
        </dt>
            }
            @{
                var ad = 0;
            }
            @foreach (var ads in Address)
            {
                ad++;

        <dt class="col-sm-3">
            <span>Address @(ad)</span>
        </dt>
        <dd class="col-sm-9">
                    @(ads.Address1)
        </dd>

            }
            @if (Access.Count > 0)
            {
        <dt class="col-sm-11 m-1 text-info">
            <span>Access</span>
        </dt>
            }
            @foreach (var acs in Access)
            {
        <dt class="col-sm-3">
            <span>Email</span>
        </dt>

        <dd class="col-sm-9" value="" required>
                    @(acs.Email)
        </dd>
        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9" value="" required>
                    @(acs.IdRole)
        </dd>
            }
</dl>
<div>
    <a asp-action="Index">Back to List</a>
</div>
