@model FurryFriendFinder.Models.ViewModels.Certificate
@{
    Layout = "_LayoutEmpty";  
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Certificado de Adopción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container display-4">
        <div style="margin-top:70px;margin-right:100px">
            <div class="col-md-12 text-center p-4">
                <p><strong>Certificado de Adopción</strong></p>
            </div>
        <div class="row">
            <div class="col-md-4">
                <img class="w-25" src="data:image/png;base64,@Convert.ToBase64String(Model.Pet.PetImage)"
                     alt="Mascota" >
            </div>
                <div style="position:absolute;margin-left:600px;margin-top:-290px">
                    <p><strong>Mascota:</strong></p>
                    <p><strong>Nombre:</strong> @Model.Pet.PetName</p>
                <p><strong>Edad:</strong> @Model.Pet.BirthYear</p>
                <p><strong>Sexo: </strong> @Model.Pet.Gender</p>
            </div>
                <div style="position:absolute;margin-left:1000px;margin-top:-300px">
                    <p><strong>Datos del Adoptante</strong></p>
                <p><strong>Nombre:</strong> @Model.User.Name</p>
                    @if (Model.User.Accesses.Count > 0){
                <p><strong>Correo: </strong>@Model.User.Accesses.First().Email </p>}
                    @if (Model.User.Phones.Count > 0)
                    {
                        <p><strong>Teléfono: </strong>@Model.User.Phones.First().Phone1</p>
                    }
                    @if (Model.User.Addresses.Count > 0)
                    {
                        <p><strong>Dirección: </strong>@Model.User.Addresses.First().Address1</p>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row p-6">
            <div class="col-md-12">
                <p>Se extiende el presente certificado como prueba de adopción de la mascota anteriormente descrita. El adoptante se compromete a brindarle a la mascota un hogar seguro y amoroso, así como a proporcionarle los cuidados necesarios para su bienestar y felicidad.</p>
            </div>
        </div>
    </div>
</body>
</html>

