@model FurryFriendFinder.Models.ViewModels.Certificate
@{
    Layout = "_LayoutEmpty";  
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adoption certificate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container display-4">
        <div style="margin-top:70px;margin-right:100px">
            <div class="col-md-12 text-center p-4">
                <p><strong>Adoption certificate</strong></p>
            </div>
        <div class="row">
            <div class="col-md-4">
                    @if(Model.Pet.PetImage != null)
                    {
                        <img class="w-25" src="data:image/png;base64,@Convert.ToBase64String(Model.Pet.PetImage)"
                     alt="Mascota" >
                    }
            </div>
                <div style="position:absolute;margin-left:600px;margin-top:-290px">
                    <p><strong>Pet</strong></p>
                    <p><strong>Name:</strong> @Model.Pet.PetName</p>
                <p><strong>Age:</strong> @Model.Pet.BirthYear</p>
                <p><strong>Gender: </strong> @Model.Pet.Gender</p>
            </div>
                <div style="position:absolute;margin-left:1000px;margin-top:-300px">
                    <p><strong>Adopter data</strong></p>
                <p><strong>Name:</strong> @Model.User.Name</p>
                    @if (Model.User.Accesses.Count > 0){
                <p><strong>Email: </strong>@Model.User.Accesses.First().Email </p>}
                    <!--Check if the adopter has registered phone numbers-->
                    @if (Model.User.Phones.Count > 0)
                    {
                        <p><strong>Phone: </strong>@Model.User.Phones.First().Phone1</p>
                    }
                    <!--Check whether the adopter has registered addresses-->
                    @if (Model.User.Addresses.Count > 0)
                    {
                        <p><strong>Address: </strong>@Model.User.Addresses.First().Address1</p>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row p-6">
            <div class="col-md-12">
                <!--Display a message about the adoption certificate-->
                <p>This certificate is issued as proof of adoption of the previously described pet. 
                    The adopter commits to providing the pet with a safe and loving home, as well as providing 
                    the necessary care for its well-being and happiness.</p>
            </div>
        </div>
    </div>
</body>
</html>

