@using FurryFriendFinder.Models.Data;
@model IEnumerable<Inventory>

@{
    Layout = "_LayoutPetSitter";
    ViewData["Title"] = "Index";
}
<h1>Inventory</h1>
<!--Link to create a new movement-->
<a asp-action="InventoryCreate">New product</a>
<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
<!--Table to show inventory records-->
    <table class="table">
        <thead>
            <tr>
                <!--column headers-->
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProductNavigation.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProductNavigation.IdPackingNavigation.TypePacking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProductNavigation.IdBrandNavigation.NameBrand)
                </th>
                <th>
                    @nameof(AnimalType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--Iterate over each element of the model-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @item.IdProductNavigation.ProductName
                    </td>
                    <td>
                        @(item.IdProductNavigation.IdPackingNavigation.TypePacking)
                    </td>
                    <td>
                        @(item.IdProductNavigation.IdBrandNavigation.NameBrand)
                    </td>
                    <td>
                        @(item.IdProductNavigation.IdAnimalTypeNavigation.Type)
                    </td>
                    <td>
                        <!--Links to view details and create a new movement for each record-->
                        <a asp-action="InventoryCreate" asp-route-id="@item.IdProduct">Make Movement</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

