@using FurryFriendFinder.Models.Data;
@model FurryFriendFinder.Models.ViewModels.ProductInvent

@{
    Layout = "_LayoutPetSitter";
    ViewData["Title"] = "Create";
}

<h1>New</h1>

<h4>Movement</h4>
<hr />
@if (ViewBag.MessageError!=null)
{
    <p class="text-danger">
        @ViewBag.MessageError
    </p>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="InventoryCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--Input field for the date-->
            <div class="form-group">
                <label asp-for="movement.Date" class="control-label"></label>
                <input asp-for="movement.Date" type="datetime-local" class="form-control" />
                <span asp-validation-for="movement.Date" class="text-danger"></span>
            </div>
            <!--Input field for the quantity-->
           
            <div class="form-group">
                <label asp-for="inventory.Quantity" class="control-label"></label>
                <input asp-for="inventory.Quantity" class="form-control" placeholder="To add put a normal number and to delete with -" required/>
                <span asp-validation-for="inventory.Quantity" class="text-danger"></span>
            </div>
            
            <!--Input field for product name-->
            <div class="form-group">
                <label asp-for="product.ProductName" class="control-label"></label>
                <input asp-for="product.ProductName" id="Name" class="form-control" required/>
                <span asp-validation-for="product.ProductName" class="text-danger"></span>
            </div>
            <!--Input field for animal type-->
            <div class="form-group">
                <p class="control-label">@nameof(AnimalType)</p>
                <input asp-for="type.Type" id="Type" class="form-control" required/>
                <span asp-validation-for="type.Type" class="text-danger"></span>
            </div>
            <!--Input field for the brand-->
            <div class="form-group">
                <label asp-for="brand.NameBrand" class="control-label"></label>
                <input asp-for="brand.NameBrand" id="Brand" class="form-control" required/>
                <span asp-validation-for="brand.NameBrand" class="text-danger"></span>
                
            </div>
            <!--Input field for the packaging-->
            <div class="form-group">
                <label asp-for="packing.TypePacking" class="control-label"></label>
                <input asp-for="packing.TypePacking" id="Packing" class="form-control" required/>
                <span asp-validation-for="packing.TypePacking" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />

<div>
    <!--Link to return to inventory list-->
    <a asp-action="Inventories">Back to List</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // Autocomplete configuration for the "Packing" field
        $("#Packing").autocomplete({
            source: '@Url.Action("GetPackings","PetSitter")',
            minlength:0
        });
        // Autocomplete configuration for the "Brand" field
        $("#Brand").autocomplete({
            source: '@Url.Action("GetBrands","PetSitter")',
            minlength: 2
        });
        // Autocomplete configuration for the "Type" field

        $("#Type").autocomplete({
            source: '@Url.Action("GetTypes","PetSitter")',
            minlength: 2
        });
        // Autocomplete configuration for the "Name" field

        $("#Name").autocomplete({
            source: '@Url.Action("GetNames","PetSitter")',
            minlength: 2
        });
    </script>
}
